*{
	margin: 0; /*Marge extérieure de 0px*/
	padding: 0; /*Marge intérieure de 0px*/
}

html{
	overflow-x: hidden; /*Cache une barre verticale de scroll*/
    user-select: none; /* L'utilisateur ne pourra plus sélectionner le texte de l'élément qui possède cette propriété CSS */
}

html, body{
    display: block;
    min-width: 300px; /*Largeur minimum de 300px*/
}

body {
    height: 100vh; /*Hauteur de 100vh*/
    background-color: #0c102c; /*Couleur de fond de l'élément*/
    width: 100%; /*Largeur de 100%*/
}

.header{
    display: flex;
    position: absolute;
    align-items: center; /*Les éléments sont centrés*/
    top: 0px; /*Positionné à 0px du haut*/
    left: 0px; /*Positionné à 0px de la gauche*/
    width: 100%; /*Largeur de 100%*/
    height: 100px; /*Hauteur de 100px*/
}

#logo{
    width: 70px; /*Hauteur de 70px*/
    animation: transi_opa 2.25s; /*Transition de 2.25s à partir de la keyframes transi_opa*/
}

#logo_a{
    position: absolute; 
    top: 20%; /*Positionné à 20% du haut*/
    left: 1%; /*Positionné à 1% de la gauche*/
}

.header_nav{
    animation: transi_opa 2s; /*Transition de 2s à partir de la keyframes transi_opa*/
}

.NavContact{
    margin-right: 30px; /*Met une marge de -30px à droite*/
    margin-left: -40px; /*Met une marge de -40px à gauche*/
    border-radius: 40px; /*Coin de la bordure avec un arrondi de rayon de 40px*/
    border: 2px solid #d679ed; /*Crée une bordure de 2px, solid et de cette couleur pour tous les éléments ayant cette classe*/
    padding: 10px 40px 10px 20px; /*Bordure intérieur de 10px en haut, 40px à droite, 10px en bas et 20px à gauche*/
    animation: transi_opa 2s; /*Transition de 2s à partir de la keyframes transi_opa*/
}

.NavContact:hover{
    background-color: rgba(214, 121, 237, 0.2); /*Couleur de fond de l'élément*/
    transition-delay: 150ms; /*Transition avec une délai de 150ms*/
}

.RecNavContact{
    height: 10px; /*Hauteur de 10px*/
    width: 10px; /*Largeur de 10px*/
    background-color: white; /*Couleur de fond de l'élément*/
    position: absolute;
    right: 20px; /*Positionné de 20px de la droite*/
    top: -20px; /*Positionné de -20px du haut*/
    border-radius: 10px; /*Coin de la bordure avec un arrondi de rayon de 10px*/
    animation: transi_opa 2s; /*Transition de 2s à partir de la keyframes transi_opa*/
}

.NavContact:hover + .RecNavContact{
    background-color: #d679ed; /*Couleur de fond de l'élément*/
}

.header_nav {
    width: 100%; /*Largeur de 100%*/
    height: 60px; /*Hauteur de 60px*/
    position: relative;
    top: 0; /*Positionné à 0px du haut*/
    margin-top: 40px; /*Marge extérieur de 40px en haut*/
    margin-left: 10px; /*Marge extérieur de 10px à gauche*/
    text-align: right; /*Texte aligné à droite*/
}

.header_nav a {
    color: #c4bcbc; /*Couleur du texte*/
    font-family: Gill Sans, sans-serif; /*Police*/
    font-weight: 700; /*Gras de 700/1000*/  
    font-size: 16px; /*Police de taille 16px*/
    text-decoration: none; /*Pas de décoration de texte*/
    margin: 25px; /*Marge extérieur de 25px*/
}

.header_nav a:hover {
    color: #d679ed; /*Met le lien survolé dans cette couleur*/
}

@keyframes transi_opa { /*fait une transition de la section home et l'opacité passe de 0 à 1*/
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*SECTION HOME*/

.Home{
    position: absolute;
    top: 100px; /*Positionné à 100px du haut*/
    height: 86.3%; /*Hauteur de 86.3%*/
    width: 100%; /*Largeur de 100%*/
}

#WhoIAm{
    position: relative;
    top: 12%; /*Positionné à 12% du haut*/
    left: 10%; /*Positionné à 10% de la gauche*/
    font-family: Gill Sans, sans-serif; /*Police*/
    font-size: 12pt; /*Taille de police*/
    color: #d679ed; /*Couleur du texte*/
    filter: brightness(0.8);   
    animation: transi_opa 2.25s; /*Transition de 2.25s à partir de la keyframes transi_opa*/
}

#Answer1{
    position: relative;
    top: 18%; /*Positionné à 18% du haut*/
    left: 10%; /*Positionné à 0px de la gauche*/
    font-size: 50pt; /*Taille de police*/
    color: #c4bcbc; /*Couleur du texte*/
    animation: transi_opa 2s; /*Transition de 2s à partir de la keyframes transi_opa*/
}

#Answer2{
    position: relative;
    top: 26%; /*Positionné à 26% du haut*/
    left: 10%; /*Positionné à 10% de la gauche*/
    font-family: Gill Sans, sans-serif; /*Police*/
    font-size: 12pt; /*Taille de police*/
    color: #c4bcbc; /*Couleur du texte*/
    line-height: 160%; /*Taille de l'interligne*/
    animation: transi_opa 2.25s; /*Transition de 2.25s à partir de la keyframes transi_opa*/
}

#Answer2 a{
    color: #d679ed; /*Couleur du texte*/
    text-decoration: none; /*Pas de décoration de texte*/
    filter: brightness(0.8);
}

#Answer2 a:hover{
    text-decoration: underline; /*Souligné*/
}

#PhotoProfil{
    clip-path: circle(50% at center center);
    width: 350px; /*Hauteur de 350px*/
    position: inherit;
    top: 15%; /*Positionné à 15% du haut*/
    right: 5%; /*Positionné à 5% de la droite*/
    animation: transi_opa 2.5s; /*Transition de 2.5s à partir de la keyframes transi_opa*/
}

.Start{
    text-decoration: none; /*Pas de décoration de texte*/
    color: #c4bcbc; /*Couleur du texte*/
    font-family: Gill Sans, sans-serif; /*Police*/
    font-size: 12pt; /*Taille de police*/
    font-weight: bold; /*Gras de la police*/
    border: 2px solid #d679ed; /*Crée une bordure de 2px, solid et de cette couleur pour tous les éléments ayant cette classe*/
    border-radius: 25px; /*Coin de la bordure avec un arrondi de rayon de 25px*/
    padding: 15px 20px 15px 20px; /*Marge intérieure de 15px du haut, 20px de la droite, 15px du bas et 20px de la gauche*/
    position: relative;
    top: 38%; /*Positionné à 38% du haut*/
    left: 10%; /*Positionné à 10% de la gauche*/
    animation: transi_opa 2.5s; /*Transition de 2.5s à partir de la keyframes transi_opa*/
}

.Start:hover{
    background-color: rgba(214, 121, 237, 0.2); /*Couleur de fond de l'élément*/
    transition-delay: 150ms; /*Transition avec un délai de 150ms*/
    color: #d679ed; /*Couleur du texte quand il est survolé*/
}

/*SECTION ABOUT*/

.About{
    position: absolute;
    top: 100%; /*Positionné à 100% du haut*/
    height: 100%; /*Hauteur de 100%*/
    width: 100%; /*Largeur de 100%*/
    color: #c4bcbc; /*Couleur du texte*/
    border-top: 1px solid white; 
    line-height: 160%; /*Taille de l'interligne*/
}

.About h3{
    position: absolute;
    border-radius: 25px; /*Coin de la bordure avec un arrondi de rayon de 25px*/
    padding: 25px; /*Marge intérieure de 25px*/
    background-color: #121739; /*Couleur de fond de l'élément*/
    border: none; /*Pas de bordure*/
    transition-duration: 250ms; /*Transition avec une durée de 250ms*/
}

.About h3:hover{
    transition-duration: 250ms; /*Transition avec une durée de 250ms*/
    box-shadow: 0px 0px 10px 2.5px #121739;
}

#Zone1-1_CV{
    inset: 5% 52% 50% 2%; /*Positionné à 5% du haut, 52% de la droite, 50% du bas et 2% de la gauche*/
}

#Zone1-1_CV:hover{
    inset: 4.5% 52% 50.5% 2%; /*Positionné à 4.5% du haut, 52% de la droite, 50.5% du bas et 2% de la gauche*/
}

#Zone1-2_CV{
    inset: 55% 52% 5% 2%; /*Positionné à 55% du haut, 52% de la droite, 5% du bas et 2% de la gauche*/
}

#Zone1-2_CV:hover{
    inset: 54.5% 52% 4.5% 2%; /*Positionné à 54.5% du haut, 52% de la droite, 4.5% du bas et 2% de la gauche*/
}

#Zone1-3_CV{
    inset: 5% 2% 50% 52%; /*Positionné à 5% du haut, 2% de la droite, 50% du bas et 52% de la gauche*/ 
}

#Zone1-3_CV:hover{
    inset: 4.5% 2% 50.5% 52%; /*Positionné à 4.5% du haut, 2% de la droite, 50.5% du bas et 52% de la gauche*/
}

#Zone1-4_Video{
    inset: 55% 2% 5% 52%; /*Positionné à 55% du haut, 2% de la droite, 5% du bas et 52% de la gauche*/
}

#Zone1-4_CV_Video:hover{
    inset: 54.5% 2% 5.5% 52%; /*Positionné à 54.5% du haut, 2% de la droite, 5.5% du bas et 52% de la gauche*/
}

#img_map{
    float: right;
    position: inherit;
    top: 20px; /*Positionné à 20px du haut*/
    left: 275px; /*Positionné à 275px de la gauche*/
}

/*SECTION PERSONNAL*/ 

.Personnal{
    position: absolute;
    top: 200%; /*Positionné à 200% du haut*/
    height: 100%; /*Hauteur de 100%*/
    width: 100%; /*Largeur de 100%*/
    color: #c4bcbc; /*Couleur du texte*/
}

.Personnal h3{
    position: absolute;
    border-radius: 25px; /*Coin de la bordure avec un arrondi de rayon de 25px*/
    padding: 25px; /*Marge intérieure de 25px*/
    background-color: #121739; /*Couleur de fond de l'élément*/
    border: none; /*Pas de bordure*/
    transition-duration: 250ms; /*Transition avec une durée de 250ms*/
}

.Personnal h3:hover{
    transition-duration: 250ms; /*Transition avec une durée de 250ms*/
    box-shadow: 0px 0px 10px 2.5px #121739;
}

#Projet1{ inset: 5% 52% 50% 2%; /*Positionné à 5% du haut, 52% de la droite, 50% du bas et 2% de la gauche*/}

#Projet1:hover{ inset: 4.5% 52% 50.5% 2%; /*Positionné à 4.5% du haut, 52% de la droite, 50.5% du bas et 2% de la gauche*/}

#Projet2{ inset: 55% 52% 5% 2%; /*Positionné à 55% du haut, 52% de la droite, 5% du bas et 2% de la gauche*/}

#Projet2:hover{ inset: 54.5% 52% 4.5% 2%; /*Positionné à 54.5% du haut, 52% de la droite, 4.5% du bas et 2% de la gauche*/}

#Zone2_CV{ 
    inset: 5% 2% 50% 52%; /*Positionné à 5% du haut, 2% de la droite, 50% du bas et 52% de la gauche*/ 
    padding-top: 10px;
}

#Zone2_CV:hover{ inset: 4.5% 2% 50.5% 52%; /*Positionné à 4.5% du haut, 2% de la droite, 50.5% du bas et 52% de la gauche*/}

#Comp_trav-perso{ 
    inset: 55% 2% 5% 52%; /*Positionné à 55% du haut, 2% de la droite, 5% du bas et 52% de la gauche*/
    padding-top: 2px;
}

#Comp_trav-perso:hover{ inset: 54.5% 2% 5.5% 52%; /*Positionné à 54.5% du haut, 2% de la droite, 5.5% du bas et 52% de la gauche*/}

.Zone2_CV img{
    display: block;
    margin: 5px;
}

.Zone2_CV_Container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Zone2_CV_Container img{
    display: block;
    margin: 7px;
    margin-right: 10px;
}

.Comp_container img{
    width: 10%;
    display: block;
    margin-right: 10px;
    margin-top: 7px;
}

.Comp_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*SECTION PROFESSIONNAL*/

.Professionnal{
    position: absolute;
    top: 300%; /*Positionné à 300% du haut*/ 
    height: 100%; /*Hauteur de 100%*/
    width: 100%; /*Largeur de 100%*/
    color: #c4bcbc; /*Couleur du texte*/
}

.Professionnal h3{
    position: absolute;
    border-radius: 25px; /*Coin de la bordure avec un arrondi de rayon de 25px*/
    padding: 25px; /*Marge intérieure de 25px*/
    background-color: #121739; /*Couleur de fond de l'élément*/
    border: none; /*Pas de bordure*/
    transition-duration: 250ms; /*Transition avec une durée de 250ms*/
    font-size: 16px;
}

.Professionnal h3:hover{
    transition-duration: 250ms; /*Transition avec une durée de 250ms*/
    box-shadow: 0px 0px 10px 2.5px #121739;
}

#Metier1{
    inset: 5% 52% 50% 2%; /*Positionné à 5% du haut, 52% de la droite, 50% du bas et 2% de la gauche*/
}

#Metier1:hover{
    inset: 4.5% 52% 50.5% 2%; /*Positionné à 4.5% du haut, 52% de la droite, 50.5% du bas et 2% de la gauche*/
}

#Metier2{
    inset: 5% 2% 50% 52%; /*Positionné à 5% du haut, 2% de la droite, 50% du bas et 52% de la gauche*/ 
}

#Metier2:hover{
    inset: 4.5% 2% 50.5% 52%; /*Positionné à 4.5% du haut, 2% de la droite, 50.5% du bas et 52% de la gauche*/
}

#Metier3{
    inset: 55% 52% 5% 2%; /*Positionné à 55% du haut, 52% de la droite, 5% du bas et 2% de la gauche*/
}

#Metier3:hover{
    inset: 54.5% 52% 4.5% 2%; /*Positionné à 54.5% du haut, 52% de la droite, 4.5% du bas et 2% de la gauche*/
}

#Zone3_CV{
    inset: 55% 2% 5% 52%; /*Positionné à 55% du haut, 2% de la droite, 5% du bas et 52% de la gauche*/
}

#Zone3_CV:hover{
    inset: 54.5% 2% 5.5% 52%; /*Positionné à 54.5% du haut, 2% de la droite, 5.5% du bas et 52% de la gauche*/
}

/*SECTION FOOTER*/

.Footer{
    position: absolute;
    top: 400%; /*Positionné à 400% du haut*/
    height: 10%; /*Hauteur de 100%*/
    width: 100%; /*Largeur de 100%*/
    color: #c4bcbc; /*Couleur du texte*/
    border-top: white solid 2px;
}

#W3C_css{
    position: absolute;
    top: 20px;
    left: 20px;
}

#github_logo{
    position: absolute;
    top: 10px;
    left: 700px;
}

#linkedin_logo{
    position: absolute;
    top: 8px;
    left: 750px;
}

#mail{
    position: absolute;
    right: 25px;
    top: 25px;
}

/*PAGE CONTACT*/

.Contact{
    background-color: #0c102c;
}

#form{
    color: white;
}