*{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
    user-select: none; /* L'utilisateur ne pourra plus sélectionner le texte de l'élément qui possède cette propriété CSS */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

body, html{
    display: block;
    min-width: 300px;
}

body {
    height: 100vh;
    background: linear-gradient(#0c102c,#383077);
    width: 100%;
}

.header_div{
    display: flex;
    position: fixed;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
}

#logo{
    width: 70px; 
    animation: anim_logo 2.25s;
    -moz-animation: anim_logo 2.25s;
}

#logo_a{
    z-index: 1;
    position: inherit; 
    top: 2%;
    left: 1%;
}

.NavHome{
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    color: var(--white);
}
    
.NavAbout{
    animation: fadein 1.25s;
    -moz-animation: fadein 1.25s;
}

.NavProjects{
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
}

.NavSkills{
    animation: fadein 1.75s;
    -moz-animation: fadein 1.75s;
}

.NavExperience{
    animation: fadein 2s;
    -moz-animation: fadein 2s;
}

.NavContact{
    margin-right: 30px;
    margin-left: -40px;
    border-radius: 40px;
    border: 2px solid #d679ed;
    padding: 10px 40px 10px 20px;
    animation: fadein 2.25s;
    -moz-animation: fadein 2.25s;
}

.NavContact:hover{
    background-color: rgba(214, 121, 237, 0.2);
    transition-delay: 150ms;
}

.NavContact:hover .RecNavContact{
    width: 20px;
    opacity: 1;
    transform: translateX(5px);
    background-color: #d679ed;
}  

.RecNavContact{
    height: 10px;
    width: 10px;
    background-color: white;
    position: absolute;
    right: 20px;
    top: -20px;
    border-radius: 10px;
    animation: recNavCon 2.25s;
    -moz-animation: recNavCon 2.25s;
}

.NavContact:hover + .RecNavContact{
    width: 20px;
    background-color: #d679ed;
    right: 15px;
}

.sidenav {
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    opacity: .70;
    margin-top: 40px;
    margin-left: 10px;
    text-align: right;
}

.sidenav a {
    color: white;
    font-family: Gill Sans, sans-serif;
    font-weight: 700;        
    font-size: 16px;
    text-decoration: none;
    margin: 25px;
    padding-top: -10px;
}

.sidenav a:hover {
    color: #d679ed;
}

@keyframes fadein {
    from {
        opacity: 0;
        margin-top: 50px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes anim_logo {
    from {
        opacity: 0;
        margin-bottom: 50px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes recNavCon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section{
    color: white;
    position: relative;
    top: 100px;
}

/*
p{
    border: 2px solid black;
    background-color: red;
    position: absolute;
    top: 400px;
    left: 500px;
    font-size: 50pt;
}
p:hover{
    transition: 400ms;
    top: 600px;
}
*/