*{
	margin: 0;
	padding: 0;
}

html{
	overflow-x: hidden; /*Cache une barre verticale de scroll*/
    user-select: none; 
    /* L'utilisateur ne pourra plus sélectionner le texte 
    de l'élément qui possède cette propriété CSS */
}

html, body{
    display: block;
    min-width: 300px;
}

body {
    height: 100vh;
    background: #0c102c;
    width: 100%;
}

.header{
    display: flex;
    position: absolute;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
}

#logo{
    width: 70px; 
    animation: transi_opa 2.25s;
}

#logo_a{
    z-index: 1;
    position: absolute; 
    top: 20%;
    left: 1%;
}

.header_nav{
    animation: transi_opa 2s;
}

.NavContact{
    margin-right: 30px; /*Met une marge de -30px à droite*/
    margin-left: -40px; /*Met une marge de -40px à gauche*/
    border-radius: 40px;
    border: 2px solid #d679ed; /*Crée une bordure de 2px, solid et de cette couleur pour tous les éléments ayant cette classe*/
    padding: 10px 40px 10px 20px;
    animation: transi_opa 2s;
}

.NavContact:hover{
    background-color: rgba(214, 121, 237, 0.2);
    transition-delay: 150ms;
}

.RecNavContact{
    height: 10px; /*Hauteur de 10px*/
    width: 10px; /*Largeur de 10px*/
    background-color: white; /*Fond blanc*/
    position: absolute;
    right: 20px; /*Positionné de 20px à droite*/
    top: -20px; /*Positionné de -20px en haut*/
    border-radius: 10px;
    animation: transi_opa 2s;
}

.NavContact:hover + .RecNavContact{
    background-color: #d679ed;
}

.header_nav {
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    margin-top: 40px;
    margin-left: 10px;
    text-align: right;
}

.header_nav a {
    color: #c4bcbc; /*Couleur du texte*/
    font-family: Gill Sans, sans-serif; /*Police*/
    font-weight: 700; /*Gras de 700/1000*/  
    font-size: 16px; /*Police de taille 16px*/
    text-decoration: none;
    margin: 25px;
    padding-top: -10px;
}

.header_nav a:hover {
    color: #d679ed; /*Met le lien survolé dans cette couleur*/
}

@keyframes transi_opa { /*fait une transition de la section home et l'opacité passe de 0 à 1*/
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*SECTION HOME*/

.Home{
    position: absolute;
    top: 100px;
    height: 86.3%;
    width: 100%;
}

#WhoIAm{
    position: relative;
    top: 12%;
    left: 10%;
    font-family: Gill Sans, sans-serif;
    font-size: 12pt;
    color: #d679ed; /*Couleur du texte*/
    filter: brightness(0.8);   
    animation: transi_opa 2.25s;
}

#Answer1{
    position: relative;
    top: 18%;
    left: 10%;
    font-size: 50pt;
    color: #c4bcbc; /*Couleur du texte*/
    animation: transi_opa 2s;
}

#Answer2{
    position: relative;
    top: 26%;
    left: 10%;
    font-family: Gill Sans, sans-serif;
    font-size: 12pt;
    color: #c4bcbc; /*Couleur du texte*/
    inline-size: 400px;
    line-height: 160%;
    animation: transi_opa 2.25s;
}

#Answer2 a{
    color: #d679ed; /*Couleur du texte*/
    text-decoration: none;
    filter: brightness(0.8);
}

#Answer2 a:hover{
    text-decoration: underline;
}

#PhotoProfil{
    clip-path: circle(50% at center center);
    width: 350px;
    position: inherit;
    top: 15%;
    right: 5%;
    animation: transi_opa 2.5s;
}

.Start{
    text-decoration: none;
    color: #c4bcbc; /*Couleur du texte*/
    font-family: Gill Sans, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    border: 2px solid #d679ed;
    border-radius: 25px;
    padding: 15px 20px 15px 20px;
    position: relative;
    top: 38%;
    left: 10%;
    animation: transi_opa 2.5s;
}

.Start:hover{
    background-color: rgba(214, 121, 237, 0.2);
    transition-delay: 150ms;
    color: #d679ed; /*Couleur du texte quand il est survolé*/
}

/*SECTION ABOUT*/

.About{
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    color: #c4bcbc; /*Couleur du texte*/
    border-top: 1px solid white; 
    line-height: 160%;
}

.About h3{
    position: absolute;
    border-radius: 25px;
    padding: 25px;
    background-color: #121739;
    border: none;
    transition-duration: 250ms;
}

.About h3:hover{
    transition-duration: 250ms;
    box-shadow: 0px 0px 10px 2.5px #121739;
}

#EduSco{
    inset: 5% 52% 50% 2%;
}

#EduSco:hover{
    inset: 4.5% 52% 50.5% 2%;
}

#MatApp{
    inset: 55% 52% 5% 2%;
}

#MatApp:hover{
    inset: 54.5% 52% 4.5% 2%;
}

#ExpFil{
    inset: 5% 2% 50% 52%;
}

#ExpFil:hover{
    inset: 4.5% 2% 50.5% 52%;
}

#Video{
    inset: 55% 2% 5% 52%;
}

#Video:hover{
    inset: 54.5% 2% 5.5% 52%;
}

#img_map{
    float: right;
    position: inherit;
    top: 20px;
    left: 275px;
    height: auto;
}

/*SECTION PERSONNAL*/ 

.Personnal{
    position: absolute;
    top: 200%;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color: #c4bcbc; /*Couleur du texte*/
}

.Personnal h3{
    position: absolute;
    border: 2px solid #d679ed;
    border-radius: 25px;
    padding: 25px;
}

#Projet1{
    left: 5%;
    right: 55%;
    top: 20%;
}

#Projet2{
    left: 5%;
    right: 55%;
    top: 50%;
}

#Logiciels{
    left: 55%;
    right: 5%;
    top: 20%;
}

#Projet4{
    left: 55%;
    right: 5%;
    top: 50%;
}

/*SECTION PROFESSIONNAL*/

.Professionnal{
    position: absolute;
    top: 300%;
    height: 100%;
    width: 100%;
    color: #c4bcbc; /*Couleur du texte*/
}

.Professionnal h3{
    position: absolute;
    border: 2px solid #d679ed;
    border-radius: 25px;
    padding: 25px;
    font-size: 16px;
}

#Metier1{
    inset: 5% 51.25% 52.5% 2%;
}

#Metier2{
    inset: 5% 2% 52.5% 51.25%;
}

#Metier3{
    inset: 52.5% 51.25% 5% 2%;
}

#Metier4{
    inset: 52.5% 2% 5% 51.25%;
}

/*SECTION CONTACT*/

.Contact{
    position: absolute;
    top: 400%;
    height: 10%;
    width: 100%;
    border-top: 1px solid white;
    color: #c4bcbc; /*Couleur du texte*/
}

#ttest{
    position: absolute;
    inset: 30% 20% 30% 40%;
}