.Home{
    position: absolute;
    top: 100px;
    height: 86.3%;
    width: 100%;
}

#WhoIAm{
    position: relative;
    top: 12%;
    left: 10%;
    font-family: Gill Sans, sans-serif;
    font-size: 12pt;
    color: #d679ed; /*Couleur du texte*/
    filter: brightness(0.8);   
    animation: transi_opa 2.25s;
}

#Answer1{
    position: relative;
    top: 18%;
    left: 10%;
    font-size: 50pt;
    color: #c4bcbc; /*Couleur du texte*/
    animation: transi_opa 2s;
}

#Answer2{
    position: relative;
    top: 26%;
    left: 10%;
    font-family: Gill Sans, sans-serif;
    font-size: 12pt;
    color: #c4bcbc; /*Couleur du texte*/
    inline-size: 400px;
    line-height: 160%;
    animation: transi_opa 2.25s;
}

#Answer2 a{
    color: #d679ed; /*Couleur du texte*/
    text-decoration: none;
    filter: brightness(0.8);
}

#Answer2 a:hover{
    text-decoration: underline;
}

#PhotoProfil{
    clip-path: circle(50% at center center);
    width: 350px;
    position: inherit;
    top: 15%;
    right: 5%;
    animation: transi_opa 2.5s;
}

.Start{
    text-decoration: none;
    color: #c4bcbc; /*Couleur du texte*/
    font-family: Gill Sans, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    border: 2px solid #d679ed;
    border-radius: 25px;
    padding: 15px 20px 15px 20px;
    position: relative;
    top: 38%;
    left: 10%;
    animation: transi_opa 2.5s;
}

.Start:hover{
    background-color: rgba(214, 121, 237, 0.2);
    transition-delay: 150ms;
    color: #d679ed; /*Couleur du texte quand il est survolé*/
}